.active.checkbox {
  width: 20px;
  color: olivedrab;
}
.name{
  color: red;
}
.btn {

  border-bottom-style: solid;


}
.text-center{
  size: 40px;
  font-style: italic;
}
.ng-valid{

}
.ng-touched{

}
