<div class="col-md-6">
  <h2> Employee Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>first name</th>
      <th>surname</th>
      <th>middle name</th>
      <th>profession</th>
      <th>date of birth</th>
      <th>phone number</th>
      <th>email</th>
      <th>active</th>
      <th>department</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td class="hidden">{{employee.id}}</td>
      <td>   <a mat-button [routerLink]="['/edit', employee.id]">{{employee.name}}</a></td>
      <td>{{employee.surname}}</td>
      <td>{{employee.middleName}}</td>
      <td>{{employee.profession}}</td>
      <td>{{employee.dateOfBirth}}</td>
      <td>{{employee.phoneNumber}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.active}}</td>
      <td>{{employee.department}}</td>

      <td><button class="btn btn-warning"(click)="editEmployee(employee)"> Edit Employee</button>

      <td><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button>


      <!--<td>
        <spring:url value="/employee/update/${employee.employeeId }" var="updateURL" />
        <a class="btn btn-primary" href="${updateURL }" role="button">Update</a>
      </td>-->
     <!-- <td ><button  a [routerLink]="['edit', employee.id]"class="btn btn-warning" (click)="onEdit(employee)"> Edit Employee</button>
      </td>-->
    <!--  <div><a [routerLink]="['edit',employee.id]"></a></div>-->
     <!-- <h3 mat-line>
        <a mat-button [routerLink]="['/employee-edit', employee.id]">{{employee.name}}</a>
      </h3>-->
    </tr>


    </tbody>
  </table>
</div>

