<div class="container-fluid">
  <div class="col-md-offset-1">
    <h3>
      Welcome to {{title}}!

    </h3>
  </div>

  <!--<div class="container">-->
    <!--<ul class="nav nav-pills">-->
      <!--<li><a routerLinkActive="active" routerLink="/home">Home</a></li>-->
      <!--<li><a routerLinkActive="active" routerLink="/login">Login</a></li>-->
      <!--<li><a (click)="logout()">Logout</a></li>-->
    <!--</ul>-->
  <!--</div>-->
  <div >
    <button class="btn" a routerLink="/employees">List Employees</button>
    <button class="btn" a style="margin-left:10px" routerLink="/add">Add Employee</button>
  </div>


  <br/>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

